:root {
  --green: #45a132;
  --lightGreen: #93c588;
  --yellow: #ffca1d;
  --gray: #f2f2f2;
}
@font-face {
  font-family: "iransanse";
  src: url(./asset/font/FontsFree-Net-ir_sans.ttf);
}
body {
  font-family: "iransanse";
  box-sizing: border-box;
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  direction: rtl;
}
.empty-head {
  width: 100%;
  background-color: var(--green);
  height: 20px;
}
.main-head {
  height: 100px;
  width: 100%;
  padding: 0 15px;
  display: flex;
  align-items: center;
  box-shadow: 0 1px 5px 0 rgba(0, 0, 0, 0.3);
  /* justify-content: space-between; */
}
.main-head .left {
  padding: 0 auto;
  margin: 0 auto;
  /* width: 30%; */
}
.main-head .right {
  width: 70%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  padding: 0 100px 0 100px;
}
.btn {
  cursor: pointer;
}
.btn--green {
  background-color: var(--green);
  color: white;
  border-radius: 40px;
  padding: 15px 50px;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
}
.btn--light-green {
  background-color: var(--lightGreen);
  color: white;
  border-radius: 40px;
  padding: 8px 25px;
}
.btn--light {
  padding: 8px 25px;
}
.btn--light-green:hover {
  border: 1px solid var(--green);
}
.btn--light:hover {
  background-color: var(--lightGreen);
  border: 1px solid var(--green);
  border-radius: 40px;
}

.items,
.best {
  display: flex;
  justify-content: space-around;
  align-items: center;
  padding: 100px 100px;
}
.item .icon {
  width: 150px;
  height: 150px;
  background-color: var(--yellow);
  border-radius: 50%;
  align-items: center;
  display: flex;
  justify-content: center;
  align-items: center;
}
.item .title {
  display: flex;
  justify-content: center;
  align-items: center;
  padding-top: 20px;
}
.bestBody {
  background-color: var(--gray);
  padding: 10px;
}
.titr {
  color: var(--green);
  text-align: center;
  font-size: 30px;
  font-weight: bold;
}
.bestItem {
  background-color: white;
  box-shadow: 1px 1px 8px 1px rgba(0, 0, 0, 0.3);
  width: 200px;
  height: 150px;
  padding: 15px;
  border-radius: 10px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  cursor: pointer;
  box-sizing: border-box;
  text-decoration: none;
  color: black;
}
.bestItem:hover {
  border-bottom: 10px solid var(--green);
}
